<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.1.0" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="9.1.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.Abstractions" version="4.8.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.MediaRequestHandler" version="4.8.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="4.8.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Theming" version="4.8.0" targetFramework="net471" developmentDependency="true" />
</packages>