<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
          <mediaRequestHandler>
              <processor type="DreamTeam.Foundation.Theme.Pipelines.MediaRequestHandler.CriticalCssFiles, DreamTeam.Foundation.Theme"
                         patch:before="*[@type='OneWeb.Foundation.Theming.Pipelines.MediaRequestHandler.OptimizedFiles, OneWeb.Foundation.Theming']" />
          </mediaRequestHandler>
      </pipelines>
  </sitecore>
</configuration>